name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, premaster, develop ]
  pull_request:
    branches: [ master, premaster, develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: ./gradlew test -i
      
  #sonarqube:
    #runs-on: ubuntu-latest
    #steps:
    #- uses: actions/checkout@v2
    #  with:
        # Disabling shallow clone is recommended for improving relevancy of reporting
    #    fetch-depth: 0
    #- name: SonarQube Scan
    #  uses: sonarsource/sonarqube-scan-action@master
    #  env:
    #    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    #    SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
